altgraph==0.17.4
customtkinter==5.2.2
darkdetect==0.8.0
et_xmlfile==2.0.0
fpdf==1.7.2
Nuitka==2.7.12
openpyxl==3.1.5
ordered-set==4.1.0
packaging==25.0
pefile==2023.2.7
pillow==11.3.0
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
PyMySQL==1.1.1
python-dotenv==1.1.1
pywin32-ctypes==0.2.3
setuptools==80.9.0
zstandard==0.23.0
